<div class="container mt-3">
    <h1 class="text-white">Users Management</h1>
    <a href="/user/createUser" class="btn rounded-lg ">Add New</a>
    <br><br>
    <section id="search" class="search-wrap">
    <form action="/user/search" class="search=form">
    <i class="fas fa-search"></i>
    <input type="search" name="term" placeholder="User ID">
    <input type="submit" value="Search">
    </form>
  </section><br>
    <div>
        <ul class="nav nav-pills tab">
            <li class="nav-item">
                <a class="nav-link tablinks active" href="/user/listuser">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tablinks" href="/user/customer">Customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link tablinks" href="/user/staff">Staff</a>
            </li>
        </ul>
    </div>
    <div>
        <table class="table tab">
            <thead>
                <tr>

                    <th>Customer ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            {{#if users}}
            <tbody>
                {{#each users}}
                <tr>
                    <td class="align-middle">{{id}}</td>
                    <td class="align-middle">{{firstname}}</td>
                    <td class="align-middle">{{lastname}}</td>
                    <td class="align-middle">{{email}}</td>
                    <td class="align-middle">{{[roles.role]}}</td>

                    <td>
                        <a href="/user/editUser/{{id}}">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </td>

                </tr>
                {{/each}}
                {{else}}
                <tr>
                    <td>
                        <h3>No user</h3>
                    </td>
                </tr>
            </tbody>
            {{/if}}


        </table>
    </div>
</div>
<style>
    h3,
    h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #8B0000;
    }

 
</style>

<script>
    $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]',
    });
</script>