<div class="container mt-3">
    <h1 class="text-white">Product Management</h1>
    <a href="/product/addproduct" class="btn list-btn rounded-lg ">Add New Car</a>
    <a href="/product/addshoppart" class="btn list-btn rounded-lg ">Add Shop Parts</a>
    <br><br>
    <a href="/product/productmanagement" class="btn list-btn rounded-lg ">Car</a>
    <a href="/product/shoppartmanagement" class="btn list-btn rounded-lg ">Shop Parts</a>
    <div>
        <ul class="nav nav-pills tab">
            <li class="nav-item">
                <a class="nav-link tablinks active" href="#">All</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Electric Vehicles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sports Car</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sedans</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">SUVS</a>
            </li>
        </ul>
    </div>
    <div>
        <table class="table tab">
            <thead>
                <tr>
                    <th>Img</th>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>COE</th>
                    <th>Hire Price 6 Months</th>
                    <th>Hire Price 12 Months</th>
                    <th>Car type</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            {{#if products}}
            <tbody>
                {{#each products}}
                <tr>
                    <td class="align-middle"><a href="{{imgURL}}" data-title="{{title}}" data-toggle="lightbox">
                        <img src="{{imgURL}}" alt="img" class="img-thumbnail img-fluid mb-2"
                            onerror="this.src='/img/no-image.jpg'">
                    </a></td>
                    <td class="align-middle">{{carId}}</td>
                    <td class="align-middle">{{productname}}</td>
                    <td class="align-middle">${{price}}</td>
                    <td class="align-middle">${{coe}}</td>
                    <td class="align-middle">${{hireprice6}}</td>
                    <td class="align-middle">${{hireprice12}}</td>
                    <td class="align-middle">{{cartype}}</td>
                    <td class="align-middle">{{description}}</td>
                    <td>
                        <a href="/product/editproduct/{{carId}}">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                    </td>

                </tr>
                {{/each}}
                {{else}}
                <tr>
                    <td>
                        <h3>No Products</h3>
                    </td>
                </tr>
            </tbody>
            {{/if}}


        </table>
    </div>
</div>
<script>
    $('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]',
    });
</script>