<div class="container mt-3">
	<div class="card card-body">
		<h3>Edit Services </h3>
		<form action="" method="post">
			<div class="form-group">
				<label class="font-italic" for="title">Customer ID</label>
				<input class="form-control" value="{{user.id}}"id="title" name="title" onblur="initialiseTitle()" readonly/>
			</div>

			<div class="form-group mb-2">
				<label for="name">Name</label>
				<input type="name" id="name" name="name"  value="{{user.firstname}} {{user.lastname}}" class="form-control" readonly required> 
			</div>

			<div class="form-group mb-2">
				<label for="email">Email</label>
				<input type="email" id="email" name="email"  value="{{user.email}}"class="form-control" readonly required>
			</div>

			<div class="form-group mb-2">
				<label for="email">Phone</label>
				<input type="number" id="phone" name="phone"  value="{{user.phone}}"class="form-control" readonly required>
			</div>

			<div class="form-group mb-2">
				<label for="carP">Car Plate</label>
				<input type="carP" id="carP" value="{{service.carP}}" name="carP"  class="form-control" readonly required>
			</div>
			<div class="form-group mb-2"> 
				<label for="carM">Car Model:</label>
				<br>
				<select id="carM"  value="{{service.carM}}" name="carM" class="form-control">
					<option value="amg" {{ droplist service.carM  "amg"}}>Amg 769</option>
					<option value="gtx" {{ droplist service.carM  "gtr"}}></option>>GTX 34</option>
					<option value="clc" {{ droplist service.carM  "clc"}}>CLC Suv</option>
					<option value="gla" {{ droplist service.carM  "gla"}}>GLA SUV</option>
					<option value="gclass" {{ droplist service.carM  "gclass"}}>G-Class</option>
					<option value="eclass" {{ droplist service.carM  "eclass"}}>E-Class Coupe</option>
					<option value="aclass" {{ droplist service.carM  "aclass"}}>A-Class Hatchback</option>
					<option value="eqb"{{ droplist service.carM  "eqb"}}>EQB </option>
					<option value="gtr"{{ droplist service.carM  "gtr"}}>GT R Coupe </option>
					<option value="roadster" {{ droplist service.carM  "roadster"}}>GT C Roadster</option>
					
				</select>
			</div>




			<div class="form-group">
				<div class="row mb-2">
					<div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-4">
						<label class="font-italic">Date</label>
						<input id="datepicker" width="200"  value="{{formatDate service.dateRelease 'DD/MM/YYYY'}}" class="form-control" name="dateRelease" readonly />
					</div>


					<div class="col-12 col-sm-12 col-md-12 col-lg-6">

						
                    <div class="form-group">
                        <label for="time"> Time: </label>
                        <input type="time" class="form-control"  name="time" value="{{service.time}}"  id="time"  required/>
                    </div>

					</div>


					<label for="location">Location:</label>
                    <select id="location" class="form-control" name="location" id="location" value="">
                        <option value="amk" id="amk" name="location" {{ droplist service.location  "amk"}}>Ang Mo Kio</option>
                        <option value="ubi" id="ubi" name="location" {{ droplist service.location "ubi"}}  >Ubi</option>
                        <option value="jurong" id="jurong" name="location" {{ droplist service.location "jurong"}}>Jurong</option>
                        <option value="tamp" id="tamp" name="location" {{ droplist service.location "tamp"}}>Tampines</option>


                    </select>


					<div class="col-12 col-sm-12 col-md-6 col-lg-6">
						<label class="font-italic">Service Type </label>
						<br>
						<div class="form-check form-check-inline" >
							<input class="form-check-input" type="radio" id="G" value="Pre-Inspection [$120]"
								name="Service Type">
							<label class="form-check-label" for="G"  {{radioCheck service.classification "Pre-Inspection [$120]"}}value="Pre-Inspection [$120]">Pre-Inspection
								[$120]</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="PG" value="Engine Oil [$80]"
								name="Service Type">
							<label class="form-check-label" {{radioCheck service.classification "Engine Oil [$80]"}}for="PG">Engine Oil [$80] </label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="PG13" value="Tyre Rotation [$50]"
								name="Service Type">
							<label class="form-check-label" {{radioCheck service.classification "Tyre Rotation [$50]"}} for="PG13">Tyre Rotation [$50]</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="NC13" value="Vehicle Grooming [$30]"
								name="classification">
							<label class="form-check-label" for="NC13">Vehicle Grooming [$30]</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="M18" value="Lubrication Services [$35]"
								name="classification">
							<label class="form-check-label" for="M18">Lubrication Services [$35]</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="R21" value="Pre-Viscom Checks [$120]"
								name="classification">
							<label class="form-check-label" for="R21">Pre-Viscom Checks [$120]</label>
						</div>
					</div>
				</div>



				<div class="form-group mb-4">
					<label class="font-italic" for="story">Remarks</label>
					<textarea class="form-control" id="story" value="{{service.story}}"name="story" rows="7" maxlength="2000"></textarea>
				</div>

			</div>
			<br>
			<button id="btnSubmit" type="submit" class="btn btn-primary">Save
			</button>
			<a href="/user/servicingHistory" class="btn" role="button">Cancel</a>

		</form>
	</div>
</div>

<script>
	$('#datepicker').datepicker({
		format: 'dd/mm/yyyy',
		uiLibrary: 'bootstrap4',
		value: moment().format('DD/MM/YYYY'),
	});
</script>