<div class="container bg-color mt-3">
    <form method="post">
        <div class="row">
            <div class="col-md-4 p-4 bg-white">
                <div class="profile-img">

                    <a href="{{imgURL}}" data-title="{{title}}" data-toggle="lightbox">
                        <img src="{{user.imgURL}}" alt="Poster" class="img-thumbnail img-fluid mb-2"
                            onerror="this.src='/img/no-image.jpg'">
                    </a>
                </div>
                <h3 class="text-dark">Welcome back, {{user.firstname}} {{user.lastname}} !</h3>
                <nav class="navbar navbar-light navbar-expand-sm px-0 flex-row flex-nowrap">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarWEX"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="navbarWEX">
                        <div class="nav flex-sm-column flex-row">
                            <h4>
                                <a class="nav-item nav-link text-dark" href="/user/profile">Profile</a>
                                <a href="/user/changepwd/{{user.id}}" class="nav-item nav-link text-dark">Change
                                    Password</a>
                                <a href="/user/addressList" class="nav-item nav-link text-dark">Address</a>
                                <a href="/user/paymentMethod" class="nav-item nav-link text-dark">Payment Method</a>
                                {{#if user}}
                                {{#checkCustomer user.dataValues.role}}
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle actives" data-toggle="dropdown"
                                        id="navbarDropdownMenuLink">My Booking</a>
                                    <div class="dropdown-menu">
                                        <a href="/user/testDrivehistory" class="dropdown-item actives">Test Drive</a>
                                        <a href="/user/servicingHistory" class="dropdown-item">Servicing</a>
                                    </div>
                                </div>
                                <a href="/user/ordersHistory" class="nav-item nav-link text-dark ">Orders</a>
                                {{/checkCustomer}}
                                {{/if}}
                            </h4>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-md-8 p-4">
                <div>
                    <h1>Test Drive</h1>
                    <h6 class="mb-5">View, reschedule or cancel your test drive booking.</h6>
                         <a href="/booking/TDform" class="btn btn-light rounded-lg ">Book</a> </td>
                    <br><br>
                </div>
                <div>
                    <ul class="nav nav-pills tab">
                        <li class="nav-item">
                            <a class="nav-link tablinks active" href="#">Upcoming</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">History</a>
                        </li>
                    </ul>
                </div>
                <div class="card card-body tab">


                    <div class="container">
                        {{#if bookings}}
                        {{#each bookings}}
                        <div class="card border-primary mb-2 w-100 mx-auto">
                            <div class="card-header">
                                <p class="font-italic text-dark">Booking Id:</p>
                                <h6 class="text-danger"">{{bookingId}}</h6>
                
                            </div>

            
            <div class=" card-body">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-2">
                                            <p class="font-italic text-dark">Name</p>
                                            <p class="text-info">
                                                {{ name}}
                                            </p>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-2">
                                            <p class="font-italic text-dark">Email</p>
                                            <p class="text-info">
                                                {{ email}}
                                            </p>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-2">
                                            <p class="font-italic text-dark">Phone</p>
                                            <p class="text-info">
                                                {{ num}}
                                            </p>
                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-6">
                                            <p class="font-italic text-dark">Car Model</p>
                                            <p class="text-info">
                                                {{ cars}}
                                            </p>
                                        </div>



                                        <div class="col-sm-12 col-md-12 col-lg-2">
                                            <p class="font-italic text-dark">Date</p>
                                            <p class="text-info">{{formatDate date 'DD/MM/YYYY'}}</p>
                                        </div>

                                        <div class="col-sm-12 col-md-12 col-lg-2">
                                            <p class="font-italic text-dark">Time</p>
                                            <p class="text-info">
                                                {{ time}}
                                            </p>
                                        </div>



                                        <div class="col-sm-12 col-md-12 col-lg-6">
                                            <p class="font-italic text-dark">Location</p>
                                            <p class="text-info ">
                                                {{ location}}
                                            </p>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <p>
                                                {{!-- {{#if user}}
                                                {{#checkcustomer user.dataValues.role}} --}}
                                                
                                                <a href="/user/editTD/{{bookingId}}" class="text-danger"">
                                <i class=" fas fa-pencil-alt"></i>
                                                    Edit
                                                </a>
                                            </p>
                                            <p>
                                                <a href="/user/deleteTDbooking/{{bookingId}}" class="card-link"
                                                    data-toggle="confirmation" data-title="Confirm Cancellation?">
                                                    <i class="far fa-trash-alt"></i>
                                                    Cancel 
                                                </a>

                                                
                                            </p>
                                        </div>
                                    </div>
                            </div>

                            {{!-- {{/checkcustomer}}
                            {{/if}} --}}
                        </div>
                        {{/each}}
                    </div>
                    {{else}}
                    <h3>No bookings jotted</h3>
                    {{/if}}
                </div>

                </div >

            </div >


        </div >


    </form >
</div >

   <script>
                    $('[data-toggle=confirmation]').confirmation({
                        rootSelector: '[data-toggle=confirmation]',
                    });
   </script>
    

